<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>WFCheckbox</key>
    <dict>
    <key>properties</key>
<dict>
<key>checked</key>
<array>
<string>true</string>
<string>false</string>
</array>
<key>groupMode</key>
<array>
<string>true</string>
<string>false</string>
</array>
<key>enabled</key>
<array/>
<key>value</key>
<array/>
<key>formatter</key>
<array/>
<key>hidden</key>
<array/>
<key>class</key>
<array/>
<key>checkedValue</key>
<array/>
<key>uncheckedValue</key>
<array/>
<key>label</key>
<array/>
</dict><key>bindings</key>
<array>
<string>value</string>
<string>hidden</string>
<string>enabled</string>
<string>value</string>
<string>label</string>
<string>checkedValue</string>
<string>uncheckedValue</string>
</array></dict><key>WFCheckboxGroup</key>
    <dict>
    <key>properties</key>
<dict>
<key>enabled</key>
<array/>
<key>value</key>
<array/>
<key>formatter</key>
<array/>
<key>hidden</key>
<array/>
<key>class</key>
<array/>
</dict><key>bindings</key>
<array>
<string>value</string>
<string>hidden</string>
<string>enabled</string>
<string>values</string>
</array></dict><key>WFDieselKeyword</key>
    <dict>
    <key>properties</key>
<dict>
<key>enabled</key>
<array/>
<key>value</key>
<array/>
<key>formatter</key>
<array/>
<key>hidden</key>
<array/>
<key>class</key>
<array/>
<key>maxLength</key>
<array/>
<key>size</key>
<array/>
</dict><key>bindings</key>
<array>
<string>value</string>
<string>hidden</string>
<string>enabled</string>
<string>maxLength</string>
<string>size</string>
</array></dict><key>WFDieselNav</key>
    <dict>
    <key>properties</key>
<dict>
<key>showLoadingMessage</key>
<array>
<string>true</string>
<string>false</string>
</array>
<key>enabled</key>
<array/>
<key>value</key>
<array/>
<key>formatter</key>
<array/>
<key>hidden</key>
<array/>
<key>class</key>
<array/>
<key>dieselSearchHelper</key>
<array/>
<key>facetNavOrder</key>
<array/>
<key>maxFacetsToShow</key>
<array/>
<key>facetNavHeight</key>
<array/>
<key>searchAction</key>
<array/>
</dict><key>bindings</key>
<array>
<string>value</string>
<string>hidden</string>
<string>enabled</string>
</array></dict><key>WFDynamic</key>
    <dict>
    <key>properties</key>
<dict>
<key>enabled</key>
<array/>
<key>value</key>
<array/>
<key>formatter</key>
<array/>
<key>hidden</key>
<array/>
<key>class</key>
<array/>
<key>arrayController</key>
<array/>
<key>widgetClass</key>
<array/>
<key>useUniqueNames</key>
<array/>
<key>simpleBindKeyPath</key>
<array/>
<key>oneShotMode</key>
<array/>
<key>oneShotSeparatorHTML</key>
<array/>
</dict><key>bindings</key>
<array>
<string>value</string>
<string>hidden</string>
<string>enabled</string>
</array></dict><key>WFDynarchMenu</key>
    <dict>
    <key>properties</key>
<dict>
<key>enabled</key>
<array/>
<key>value</key>
<array/>
<key>formatter</key>
<array/>
<key>hidden</key>
<array/>
<key>class</key>
<array/>
</dict><key>bindings</key>
<array>
<string>value</string>
<string>hidden</string>
<string>enabled</string>
</array></dict><key>WFForm</key>
    <dict>
    <key>properties</key>
<dict>
<key>method</key>
<array>
<string>get</string>
<string>post</string>
</array>
<key>enabled</key>
<array/>
<key>value</key>
<array/>
<key>formatter</key>
<array/>
<key>hidden</key>
<array/>
<key>class</key>
<array/>
<key>action</key>
<array/>
<key>defaultSubmitID</key>
<array/>
</dict><key>bindings</key>
<array>
<string>value</string>
<string>hidden</string>
<string>enabled</string>
</array></dict><key>WFHidden</key>
    <dict>
    <key>properties</key>
<dict>
<key>enabled</key>
<array/>
<key>value</key>
<array/>
<key>formatter</key>
<array/>
<key>hidden</key>
<array/>
<key>class</key>
<array/>
</dict><key>bindings</key>
<array>
<string>value</string>
<string>hidden</string>
<string>enabled</string>
<string>value</string>
</array></dict><key>WFHTMLArea</key>
    <dict>
    <key>properties</key>
<dict>
<key>enabled</key>
<array/>
<key>value</key>
<array/>
<key>formatter</key>
<array/>
<key>hidden</key>
<array/>
<key>class</key>
<array/>
<key>width</key>
<array/>
<key>height</key>
<array/>
</dict><key>bindings</key>
<array>
<string>value</string>
<string>hidden</string>
<string>enabled</string>
<string>width</string>
<string>height</string>
</array></dict><key>WFImage</key>
    <dict>
    <key>properties</key>
<dict>
<key>align</key>
<array>
<string>left</string>
<string>center</string>
<string>right</string>
<string>middle</string>
<string>baseline</string>
<string>top</string>
</array>
<key>fitToBox</key>
<array>
<string>true</string>
<string>false</string>
</array>
<key>enabled</key>
<array/>
<key>value</key>
<array/>
<key>formatter</key>
<array/>
<key>hidden</key>
<array/>
<key>class</key>
<array/>
<key>baseDir</key>
<array/>
<key>filesystemPath</key>
<array/>
<key>filesystemBasePath</key>
<array/>
<key>width</key>
<array/>
<key>height</key>
<array/>
<key>border</key>
<array/>
<key>alt</key>
<array/>
<key>link</key>
<array/>
<key>linkTarget</key>
<array/>
</dict><key>bindings</key>
<array>
<string>value</string>
<string>hidden</string>
<string>enabled</string>
<string>value</string>
<string>filesystemPath</string>
<string>baseDir</string>
<string>filesystemBasePath</string>
<string>width</string>
<string>height</string>
<string>alt</string>
<string>link</string>
</array></dict><key>WFJumpSelect</key>
    <dict>
    <key>properties</key>
<dict>
<key>multiple</key>
<array>
<string>true</string>
<string>false</string>
</array>
<key>labelFormatterSkipFirst</key>
<array>
<string>true</string>
<string>false</string>
</array>
<key>enabled</key>
<array/>
<key>value</key>
<array/>
<key>formatter</key>
<array/>
<key>hidden</key>
<array/>
<key>class</key>
<array/>
<key>visibleItems</key>
<array/>
<key>width</key>
<array/>
<key>labelFormatter</key>
<array/>
<key>baseURL</key>
<array/>
</dict><key>bindings</key>
<array>
<string>value</string>
<string>hidden</string>
<string>enabled</string>
<string>values</string>
<string>contentValues</string>
<string>contentLabels</string>
<string>options</string>
<string>baseURL</string>
</array></dict><key>WFLabel</key>
    <dict>
    <key>properties</key>
<dict>
<key>enabled</key>
<array/>
<key>value</key>
<array/>
<key>formatter</key>
<array/>
<key>hidden</key>
<array/>
<key>class</key>
<array/>
<key>ellipsisAfterChars</key>
<array/>
<key>textAsHTML</key>
<array/>
</dict><key>bindings</key>
<array>
<string>value</string>
<string>hidden</string>
<string>enabled</string>
<string>value</string>
</array></dict><key>WFLink</key>
    <dict>
    <key>properties</key>
<dict>
<key>enabled</key>
<array/>
<key>value</key>
<array/>
<key>formatter</key>
<array/>
<key>hidden</key>
<array/>
<key>class</key>
<array/>
<key>label</key>
<array/>
<key>title</key>
<array/>
<key>target</key>
<array/>
</dict><key>bindings</key>
<array>
<string>value</string>
<string>hidden</string>
<string>enabled</string>
<string>value</string>
<string>label</string>
<string>title</string>
</array></dict><key>WFMessageBox</key>
    <dict>
    <key>properties</key>
<dict>
<key>enabled</key>
<array/>
<key>value</key>
<array/>
<key>formatter</key>
<array/>
<key>hidden</key>
<array/>
<key>class</key>
<array/>
<key>mode</key>
<array/>
</dict><key>bindings</key>
<array>
<string>value</string>
<string>hidden</string>
<string>enabled</string>
<string>value</string>
</array></dict><key>WFModuleView</key>
    <dict>
    <key>properties</key>
<dict>
<key>targetRootModule</key>
<array>
<string>true</string>
<string>false</string>
</array>
<key>enabled</key>
<array/>
<key>value</key>
<array/>
<key>formatter</key>
<array/>
<key>hidden</key>
<array/>
<key>class</key>
<array/>
<key>invocationPath</key>
<array/>
</dict><key>bindings</key>
<array>
<string>value</string>
<string>hidden</string>
<string>enabled</string>
<string>invocationPath</string>
</array></dict><key>WFPaginatorNavigation</key>
    <dict>
    <key>properties</key>
<dict>
<key>enabled</key>
<array/>
<key>value</key>
<array/>
<key>formatter</key>
<array/>
<key>hidden</key>
<array/>
<key>class</key>
<array/>
<key>paginator</key>
<array/>
<key>maxJumpPagesToShow</key>
<array/>
</dict><key>bindings</key>
<array>
<string>value</string>
<string>hidden</string>
<string>enabled</string>
</array></dict><key>WFPaginatorPageInfo</key>
    <dict>
    <key>properties</key>
<dict>
<key>enabled</key>
<array/>
<key>paginator</key>
<array/>
</dict><key>bindings</key>
<array>
</array></dict><key>WFPaginatorSortLink</key>
    <dict>
    <key>properties</key>
<dict>
<key>enabled</key>
<array/>
<key>value</key>
<array/>
<key>formatter</key>
<array/>
<key>hidden</key>
<array/>
<key>class</key>
<array/>
<key>paginator</key>
<array/>
</dict><key>bindings</key>
<array>
<string>value</string>
<string>hidden</string>
<string>enabled</string>
</array></dict><key>WFPaginatorSortSelect</key>
    <dict>
    <key>properties</key>
<dict>
<key>enabled</key>
<array/>
<key>value</key>
<array/>
<key>formatter</key>
<array/>
<key>hidden</key>
<array/>
<key>class</key>
<array/>
<key>paginator</key>
<array/>
<key>loadOnSelect</key>
<array/>
</dict><key>bindings</key>
<array>
<string>value</string>
<string>hidden</string>
<string>enabled</string>
</array></dict><key>WFPaginatorState</key>
    <dict>
    <key>properties</key>
<dict>
<key>enabled</key>
<array/>
<key>value</key>
<array/>
<key>formatter</key>
<array/>
<key>hidden</key>
<array/>
<key>class</key>
<array/>
<key>paginator</key>
<array/>
</dict><key>bindings</key>
<array>
<string>value</string>
<string>hidden</string>
<string>enabled</string>
</array></dict><key>WFPassword</key>
    <dict>
    <key>properties</key>
<dict>
<key>preserveInput</key>
<array>
<string>1</string>
<string></string>
</array>
<key>enabled</key>
<array/>
<key>value</key>
<array/>
<key>formatter</key>
<array/>
<key>hidden</key>
<array/>
<key>class</key>
<array/>
<key>maxLength</key>
<array/>
<key>size</key>
<array/>
</dict><key>bindings</key>
<array>
<string>value</string>
<string>hidden</string>
<string>enabled</string>
<string>maxLength</string>
<string>size</string>
</array></dict><key>WFRadio</key>
    <dict>
    <key>properties</key>
<dict>
<key>selected</key>
<array>
<string>true</string>
<string>false</string>
</array>
<key>enabled</key>
<array/>
<key>value</key>
<array/>
<key>formatter</key>
<array/>
<key>hidden</key>
<array/>
<key>class</key>
<array/>
<key>selectedValue</key>
<array/>
<key>label</key>
<array/>
</dict><key>bindings</key>
<array>
<string>value</string>
<string>hidden</string>
<string>enabled</string>
<string>label</string>
<string>selectedValue</string>
</array></dict><key>WFRadioGroup</key>
    <dict>
    <key>properties</key>
<dict>
<key>enabled</key>
<array/>
<key>value</key>
<array/>
<key>formatter</key>
<array/>
<key>hidden</key>
<array/>
<key>class</key>
<array/>
<key>defaultValue</key>
<array/>
</dict><key>bindings</key>
<array>
<string>value</string>
<string>hidden</string>
<string>enabled</string>
<string>value</string>
</array></dict><key>WFSelect</key>
    <dict>
    <key>properties</key>
<dict>
<key>multiple</key>
<array>
<string>true</string>
<string>false</string>
</array>
<key>labelFormatterSkipFirst</key>
<array>
<string>true</string>
<string>false</string>
</array>
<key>enabled</key>
<array/>
<key>value</key>
<array/>
<key>formatter</key>
<array/>
<key>hidden</key>
<array/>
<key>class</key>
<array/>
<key>visibleItems</key>
<array/>
<key>width</key>
<array/>
<key>labelFormatter</key>
<array/>
</dict><key>bindings</key>
<array>
<string>value</string>
<string>hidden</string>
<string>enabled</string>
<string>values</string>
<string>contentValues</string>
<string>contentLabels</string>
<string>options</string>
</array></dict><key>WFSelectionCheckbox</key>
    <dict>
    <key>properties</key>
<dict>
<key>enabled</key>
<array/>
<key>value</key>
<array/>
<key>formatter</key>
<array/>
<key>hidden</key>
<array/>
<key>class</key>
<array/>
<key>arrayController</key>
<array/>
<key>widgetClass</key>
<array/>
<key>useUniqueNames</key>
<array/>
<key>simpleBindKeyPath</key>
<array/>
<key>oneShotMode</key>
<array/>
<key>oneShotSeparatorHTML</key>
<array/>
<key>labelKeyPath</key>
<array/>
<key>label</key>
<array/>
</dict><key>bindings</key>
<array>
<string>value</string>
<string>hidden</string>
<string>enabled</string>
</array></dict><key>WFSubmit</key>
    <dict>
    <key>properties</key>
<dict>
<key>enabled</key>
<array/>
<key>value</key>
<array/>
<key>formatter</key>
<array/>
<key>hidden</key>
<array/>
<key>class</key>
<array/>
<key>action</key>
<array/>
<key>label</key>
<array/>
<key>imagePath</key>
<array/>
<key>duplicateSubmitMessage</key>
<array/>
<key>postSubmitLabel</key>
<array/>
</dict><key>bindings</key>
<array>
<string>value</string>
<string>hidden</string>
<string>enabled</string>
<string>label</string>
</array></dict><key>WFTabContent</key>
    <dict>
    <key>properties</key>
<dict>
</dict><key>bindings</key>
<array>
</array></dict><key>WFTabView</key>
    <dict>
    <key>properties</key>
<dict>
<key>enabled</key>
<array/>
<key>value</key>
<array/>
<key>formatter</key>
<array/>
<key>hidden</key>
<array/>
<key>class</key>
<array/>
<key>defaultTabID</key>
<array/>
<key>onePageMode</key>
<array/>
<key>debugShowAllTabs</key>
<array/>
</dict><key>bindings</key>
<array>
<string>value</string>
<string>hidden</string>
<string>enabled</string>
</array></dict><key>WFTextArea</key>
    <dict>
    <key>properties</key>
<dict>
<key>enabled</key>
<array/>
<key>value</key>
<array/>
<key>formatter</key>
<array/>
<key>hidden</key>
<array/>
<key>class</key>
<array/>
<key>cols</key>
<array/>
<key>rows</key>
<array/>
</dict><key>bindings</key>
<array>
<string>value</string>
<string>hidden</string>
<string>enabled</string>
<string>rows</string>
<string>columns</string>
</array></dict><key>WFTextField</key>
    <dict>
    <key>properties</key>
<dict>
<key>enabled</key>
<array/>
<key>value</key>
<array/>
<key>formatter</key>
<array/>
<key>hidden</key>
<array/>
<key>class</key>
<array/>
<key>maxLength</key>
<array/>
<key>size</key>
<array/>
</dict><key>bindings</key>
<array>
<string>value</string>
<string>hidden</string>
<string>enabled</string>
<string>maxLength</string>
<string>size</string>
</array></dict><key>WFTimeSelect</key>
    <dict>
    <key>properties</key>
<dict>
<key>multiple</key>
<array>
<string>true</string>
<string>false</string>
</array>
<key>labelFormatterSkipFirst</key>
<array>
<string>true</string>
<string>false</string>
</array>
<key>incrementsPerHour</key>
<array>
<string>1</string>
<string>2</string>
<string>4</string>
<string>12</string>
<string>60</string>
</array>
<key>enabled</key>
<array/>
<key>value</key>
<array/>
<key>formatter</key>
<array/>
<key>hidden</key>
<array/>
<key>class</key>
<array/>
<key>visibleItems</key>
<array/>
<key>width</key>
<array/>
<key>labelFormatter</key>
<array/>
<key>startTime</key>
<array/>
<key>endTime</key>
<array/>
<key>formatString</key>
<array/>
</dict><key>bindings</key>
<array>
<string>value</string>
<string>hidden</string>
<string>enabled</string>
<string>values</string>
<string>contentValues</string>
<string>contentLabels</string>
<string>options</string>
</array></dict><key>WFUpload</key>
    <dict>
    <key>properties</key>
<dict>
<key>enabled</key>
<array/>
<key>value</key>
<array/>
<key>formatter</key>
<array/>
<key>hidden</key>
<array/>
<key>class</key>
<array/>
</dict><key>bindings</key>
<array>
<string>value</string>
<string>hidden</string>
<string>enabled</string>
</array></dict><key>WFYAHOO_widget_AutoComplete</key>
    <dict>
    <key>properties</key>
<dict>
<key>inputType</key>
<array>
<string>input</string>
<string>textarea</string>
</array>
<key>animVert</key>
<array>
<string>true</string>
<string>false</string>
</array>
<key>animHoriz</key>
<array>
<string>true</string>
<string>false</string>
</array>
<key>autoHighlight</key>
<array>
<string>true</string>
<string>false</string>
</array>
<key>useShadow</key>
<array>
<string>true</string>
<string>false</string>
</array>
<key>useIFrame</key>
<array>
<string>true</string>
<string>false</string>
</array>
<key>forceSelection</key>
<array>
<string>true</string>
<string>false</string>
</array>
<key>typeAhead</key>
<array>
<string>true</string>
<string>false</string>
</array>
<key>allowBrowserAutocomplete</key>
<array>
<string>true</string>
<string>false</string>
</array>
<key>alwaysShowContainer</key>
<array>
<string>true</string>
<string>false</string>
</array>
<key>datasourceQueryMatchCase</key>
<array>
<string>true</string>
<string>false</string>
</array>
<key>datasourceQueryMatchContains</key>
<array>
<string>true</string>
<string>false</string>
</array>
<key>datasourceQueryMatchSubset</key>
<array>
<string>true</string>
<string>false</string>
</array>
<key>enabled</key>
<array/>
<key>value</key>
<array/>
<key>formatter</key>
<array/>
<key>hidden</key>
<array/>
<key>class</key>
<array/>
<key>width</key>
<array/>
<key>height</key>
<array/>
<key>autocompleteWidth</key>
<array/>
<key>animSpeed</key>
<array/>
<key>delimChar</key>
<array/>
<key>maxResultsDisplayed</key>
<array/>
<key>minQueryLength</key>
<array/>
<key>queryDelay</key>
<array/>
<key>highlightClassName</key>
<array/>
<key>prehighlightClassName</key>
<array/>
<key>datasourceMaxCacheEntries</key>
<array/>
</dict><key>bindings</key>
<array>
<string>value</string>
<string>hidden</string>
<string>enabled</string>
<string>datasourceJSArray</string>
</array></dict><key>WFYAHOO_widget_Calendar</key>
    <dict>
    <key>properties</key>
<dict>
<key>enabled</key>
<array/>
<key>value</key>
<array/>
<key>formatter</key>
<array/>
<key>hidden</key>
<array/>
<key>class</key>
<array/>
</dict><key>bindings</key>
<array>
<string>value</string>
<string>hidden</string>
<string>enabled</string>
</array></dict><key>WFYAHOO_widget_ColorPicker</key>
    <dict>
    <key>properties</key>
<dict>
<key>enabled</key>
<array/>
<key>value</key>
<array/>
<key>formatter</key>
<array/>
<key>hidden</key>
<array/>
<key>class</key>
<array/>
</dict><key>bindings</key>
<array>
<string>value</string>
<string>hidden</string>
<string>enabled</string>
</array></dict><key>WFYAHOO_widget_Dialog</key>
    <dict>
    <key>properties</key>
<dict>
<key>fixedcenter</key>
<array>
<string>true</string>
<string>false</string>
</array>
<key>iframe</key>
<array>
<string>true</string>
<string>false</string>
</array>
<key>constraintoviewport</key>
<array>
<string>true</string>
<string>false</string>
</array>
<key>underlay</key>
<array>
<string>shadow</string>
<string>none</string>
<string>matte</string>
</array>
<key>draggable</key>
<array>
<string>true</string>
<string>false</string>
</array>
<key>modal</key>
<array>
<string>true</string>
<string>false</string>
</array>
<key>close</key>
<array>
<string>true</string>
<string>false</string>
</array>
<key>postmethod</key>
<array>
<string>async</string>
<string>form</string>
<string>none</string>
</array>
<key>enabled</key>
<array/>
<key>value</key>
<array/>
<key>formatter</key>
<array/>
<key>hidden</key>
<array/>
<key>class</key>
<array/>
<key>width</key>
<array/>
<key>height</key>
<array/>
<key>zIndex</key>
<array/>
<key>x</key>
<array/>
<key>y</key>
<array/>
</dict><key>bindings</key>
<array>
<string>value</string>
<string>hidden</string>
<string>enabled</string>
<string>header</string>
<string>body</string>
<string>footer</string>
</array></dict><key>WFYAHOO_widget_Logger</key>
    <dict>
    <key>properties</key>
<dict>
<key>enabled</key>
<array/>
<key>value</key>
<array/>
<key>formatter</key>
<array/>
<key>hidden</key>
<array/>
<key>class</key>
<array/>
</dict><key>bindings</key>
<array>
<string>value</string>
<string>hidden</string>
<string>enabled</string>
</array></dict><key>WFYAHOO_widget_Menu</key>
    <dict>
    <key>properties</key>
<dict>
<key>horizontal</key>
<array>
<string>true</string>
<string>false</string>
</array>
<key>enabled</key>
<array/>
<key>value</key>
<array/>
<key>formatter</key>
<array/>
<key>hidden</key>
<array/>
<key>class</key>
<array/>
</dict><key>bindings</key>
<array>
<string>value</string>
<string>hidden</string>
<string>enabled</string>
<string>menuItems</string>
<string>menuItemsNestedArray</string>
<string>menuItemsMenuPath</string>
</array></dict><key>WFYAHOO_widget_Module</key>
    <dict>
    <key>properties</key>
<dict>
<key>enabled</key>
<array/>
<key>value</key>
<array/>
<key>formatter</key>
<array/>
<key>hidden</key>
<array/>
<key>class</key>
<array/>
</dict><key>bindings</key>
<array>
<string>value</string>
<string>hidden</string>
<string>enabled</string>
<string>header</string>
<string>body</string>
<string>footer</string>
</array></dict><key>WFYAHOO_widget_Overlay</key>
    <dict>
    <key>properties</key>
<dict>
<key>fixedcenter</key>
<array>
<string>true</string>
<string>false</string>
</array>
<key>iframe</key>
<array>
<string>true</string>
<string>false</string>
</array>
<key>constraintoviewport</key>
<array>
<string>true</string>
<string>false</string>
</array>
<key>enabled</key>
<array/>
<key>value</key>
<array/>
<key>formatter</key>
<array/>
<key>hidden</key>
<array/>
<key>class</key>
<array/>
<key>width</key>
<array/>
<key>height</key>
<array/>
<key>zIndex</key>
<array/>
<key>x</key>
<array/>
<key>y</key>
<array/>
</dict><key>bindings</key>
<array>
<string>value</string>
<string>hidden</string>
<string>enabled</string>
<string>header</string>
<string>body</string>
<string>footer</string>
</array></dict><key>WFYAHOO_widget_Panel</key>
    <dict>
    <key>properties</key>
<dict>
<key>fixedcenter</key>
<array>
<string>true</string>
<string>false</string>
</array>
<key>iframe</key>
<array>
<string>true</string>
<string>false</string>
</array>
<key>constraintoviewport</key>
<array>
<string>true</string>
<string>false</string>
</array>
<key>underlay</key>
<array>
<string>shadow</string>
<string>none</string>
<string>matte</string>
</array>
<key>draggable</key>
<array>
<string>true</string>
<string>false</string>
</array>
<key>modal</key>
<array>
<string>true</string>
<string>false</string>
</array>
<key>close</key>
<array>
<string>true</string>
<string>false</string>
</array>
<key>enabled</key>
<array/>
<key>value</key>
<array/>
<key>formatter</key>
<array/>
<key>hidden</key>
<array/>
<key>class</key>
<array/>
<key>width</key>
<array/>
<key>height</key>
<array/>
<key>zIndex</key>
<array/>
<key>x</key>
<array/>
<key>y</key>
<array/>
</dict><key>bindings</key>
<array>
<string>value</string>
<string>hidden</string>
<string>enabled</string>
<string>header</string>
<string>body</string>
<string>footer</string>
</array></dict><key>WFYAHOO_widget_PhocoaDialog</key>
    <dict>
    <key>properties</key>
<dict>
<key>fixedcenter</key>
<array>
<string>true</string>
<string>false</string>
</array>
<key>iframe</key>
<array>
<string>true</string>
<string>false</string>
</array>
<key>constraintoviewport</key>
<array>
<string>true</string>
<string>false</string>
</array>
<key>underlay</key>
<array>
<string>shadow</string>
<string>none</string>
<string>matte</string>
</array>
<key>draggable</key>
<array>
<string>true</string>
<string>false</string>
</array>
<key>modal</key>
<array>
<string>true</string>
<string>false</string>
</array>
<key>close</key>
<array>
<string>true</string>
<string>false</string>
</array>
<key>deferModuleViewLoading</key>
<array>
<string>true</string>
<string>false</string>
</array>
<key>cacheModuleView</key>
<array>
<string>true</string>
<string>false</string>
</array>
<key>enabled</key>
<array/>
<key>value</key>
<array/>
<key>formatter</key>
<array/>
<key>hidden</key>
<array/>
<key>class</key>
<array/>
<key>width</key>
<array/>
<key>height</key>
<array/>
<key>zIndex</key>
<array/>
<key>x</key>
<array/>
<key>y</key>
<array/>
</dict><key>bindings</key>
<array>
<string>value</string>
<string>hidden</string>
<string>enabled</string>
<string>header</string>
<string>body</string>
<string>footer</string>
</array></dict><key>WFYAHOO_widget_TabView</key>
    <dict>
    <key>properties</key>
<dict>
<key>enabled</key>
<array/>
<key>value</key>
<array/>
<key>formatter</key>
<array/>
<key>hidden</key>
<array/>
<key>class</key>
<array/>
</dict><key>bindings</key>
<array>
<string>value</string>
<string>hidden</string>
<string>enabled</string>
</array></dict><key>WFYAHOO_widget_TreeView</key>
    <dict>
    <key>properties</key>
<dict>
<key>enabled</key>
<array/>
<key>value</key>
<array/>
<key>formatter</key>
<array/>
<key>hidden</key>
<array/>
<key>class</key>
<array/>
<key>dynamicDataLoader</key>
<array/>
</dict><key>bindings</key>
<array>
<string>value</string>
<string>hidden</string>
<string>enabled</string>
</array></dict><key>WFYAHOO_widget_Uploader</key>
    <dict>
    <key>properties</key>
<dict>
<key>enabled</key>
<array/>
<key>value</key>
<array/>
<key>formatter</key>
<array/>
<key>hidden</key>
<array/>
<key>class</key>
<array/>
</dict><key>bindings</key>
<array>
<string>value</string>
<string>hidden</string>
<string>enabled</string>
</array></dict><key>WFYAHOO_widget_YahooScript</key>
    <dict>
    <key>properties</key>
<dict>
<key>enabled</key>
<array/>
<key>value</key>
<array/>
<key>formatter</key>
<array/>
<key>hidden</key>
<array/>
<key>class</key>
<array/>
</dict><key>bindings</key>
<array>
<string>value</string>
<string>hidden</string>
<string>enabled</string>
</array></dict>
</dict>
</plist>