<?php

$__config = array(
	'subject' => array(
		'bindings' => array(
			'value' => array(
				'instanceID' => 'email',
				'controllerKey' => '',
				'modelKeyPath' => 'subject',
			),
		),
	),
	'message' => array(
		'bindings' => array(
			'value' => array(
				'instanceID' => 'email',
				'controllerKey' => '',
				'modelKeyPath' => 'message',
			),
		),
	),
	'email' => array(
		'bindings' => array(
			'value' => array(
				'instanceID' => 'email',
				'controllerKey' => '',
				'modelKeyPath' => 'toEmail',
			),
		),
	),
);
?>
