<?php

$__autowebConfig = array(
    // name of the propel database
    'propelDatabaseName' => 'openhouse',

    // path to your propel output dir. Please note that this is one directory above where the files go.
    // the system knows that the files will be in the <propelDatabaseName> directory of the propelOutputDir.
    'propelOutputDir' => '/Users/alanpinstein/dev/sandbox/openhouse/openhouse/classes',

    // absolute path to the propel configuration file.
    'propelConfFile' => '/Users/alanpinstein/dev/sandbox/openhouse/openhouse/conf/openhouse-conf.php',
);

?>
