<?php

$__config = array(
	'selectedFields' => array(
		'properties' => array(
			'parentFormID' => 'form',
			'arrayController' => '#module#people',
		),
	),
	'lotsOFields' => array(
		'properties' => array(
			'simpleBindKeyPath' => 'name',
			'arrayController' => '#module#people',
			'widgetClass' => 'WFTextField',
			'parentFormID' => 'form',
		),
	),
	'selectMultiple' => array(
		'properties' => array(
			'multiple' => true,
			'visibleItems' => 6,
		),
	),
	'multiCheckbox2' => array(
		'properties' => array(
			'checkedValue' => 'mutli2',
			'groupMode' => true,
			'label' => 'Another Value',
			'name' => 'multiCheckboxGroup',
		),
	),
	'multiCheckbox1' => array(
		'properties' => array(
			'groupMode' => true,
			'label' => 'One value',
			'checkedValue' => 'multi1',
			'name' => 'multiCheckboxGroup',
		),
	),
	'singleCheckbox' => array(
		'properties' => array(
			'label' => 'Interactive Label Support, too!',
		),
	),
	'action1' => array(
		'properties' => array(
			'label' => 'Submit Form and Re-Display',
		),
	),
	'showSelection' => array(
		'properties' => array(
			'label' => 'Show Selected People',
		),
	),
);
?>
