<?php

$__config = array(
	'person' => array(
		'properties' => array(
			'name' => 'Default Name',
		),
	),
	'creationDTSFormatter' => array(
		'properties' => array(
			'formatString' => 'Y M D',
		),
	),
	'selectedPeople' => array(
		'properties' => array(
			'class' => 'person',
		),
	),
	'people' => array(
		'properties' => array(
			'class' => 'person',
			'classIdentifiers' => 'id',
		),
	),
);
?>
