<?php

$__config = array(
	'name' => array(
		'bindings' => array(
			'value' => array(
				'instanceID' => 'person',
				'controllerKey' => '',
				'modelKeyPath' => 'name',
			),
		),
	),
	'creationDTS' => array(
		'properties' => array(
			'formatter' => '#module#creationDTSFormatter',
		),
		'bindings' => array(
			'value' => array(
				'instanceID' => 'person',
				'controllerKey' => '',
				'modelKeyPath' => 'creationDTS',
			),
		),
	),
);
?>
