<?php

$__config = array(
	'emailView' => array(
		'properties' => array(
			'targetRootModule' => true,
			'invocationPath' => 'helloworld/helloWorld',
		),
	),
	'form' => array(
		'properties' => array(
			'method' => 'post',
		),
	),
	'name' => array(
		'bindings' => array(
			'value' => array(
				'instanceID' => 'person',
				'controllerKey' => '',
				'modelKeyPath' => 'name',
			),
		),
	),
	'creationDTS' => array(
		'properties' => array(
			'formatter' => '#module#creationDTSFormatter',
		),
		'bindings' => array(
			'value' => array(
				'instanceID' => 'person',
				'controllerKey' => '',
				'modelKeyPath' => 'creationDTS',
			),
		),
	),
	'selectOne' => array(
		'properties' => array(
			'contentValues' => '#module#someChoices',
		),
	),
	'checkboxGroup' => array(
		'properties' => array(
			'values' => '#module#checkboxGroupDefaultSelections',
		),
	),
	'checkbox' => array(
		'properties' => array(
			'label' => 'Example of a single checkbox.',
			'uncheckedValue' => 'you didn\'t check me!',
			'checkedValue' => 'you checked me!',
		),
	),
	'radioButtons' => array(
		'properties' => array(
			'value' => '1',
		),
	),
	'selectMultiple' => array(
		'properties' => array(
			'multiple' => true,
			'visibleItems' => 6,
		),
		'bindings' => array(
			'values' => array(
				'instanceID' => 'person',
				'controllerKey' => '',
				'modelKeyPath' => 'favoriteNumbers',
			),
		),
	),
	'action1' => array(
		'properties' => array(
			'label' => 'Submit Form and Re-Display',
		),
	),
	'action2' => array(
		'properties' => array(
			'label' => 'Process Form',
		),
	),
	'checkboxOne' => array(
		'properties' => array(
			'checkedValue' => '1',
			'label' => 'Checkbox 1.',
		),
	),
	'checkboxThree' => array(
		'properties' => array(
			'checkedValue' => '3',
			'label' => 'Checkbox 3.',
		),
	),
	'checkboxTwo' => array(
		'properties' => array(
			'checkedValue' => '2',
			'label' => 'Checkbox 2.',
		),
	),
	'radioTwo' => array(
		'properties' => array(
			'selectedValue' => '2',
			'label' => 'Two!',
		),
	),
	'radioOne' => array(
		'properties' => array(
			'label' => 'One!',
			'selectedValue' => '1',
		),
	),
);
?>
