<?php

$__config = array(
	'emailView' => array(
		'properties' => array(
			'targetRootModule' => true,
			'invocationPath' => 'helloworld/helloWorld',
		),
	),
	'form' => array(
		'properties' => array(
			'method' => 'post',
		),
	),
	'name' => array(
		'bindings' => array(
			'value' => array(
				'instanceID' => 'person',
				'controllerKey' => '',
				'modelKeyPath' => 'name',
			),
		),
	),
	'creationDTS' => array(
		'properties' => array(
			'formatter' => '#module#creationDTSFormatter',
		),
		'bindings' => array(
			'value' => array(
				'instanceID' => 'person',
				'controllerKey' => '',
				'modelKeyPath' => 'creationDTS',
			),
		),
	),
	'selectOne' => array(
		'properties' => array(
			'contentValues' => '#module#someChoices',
		),
	),
	'selectMultiple' => array(
		'properties' => array(
			'multiple' => true,
			'visibleItems' => 6,
		),
		'bindings' => array(
			'values' => array(
				'instanceID' => 'person',
				'controllerKey' => '',
				'modelKeyPath' => 'favoriteNumbers',
			),
		),
	),
	'action1' => array(
		'properties' => array(
			'label' => 'Submit Form and Re-Display',
		),
	),
	'action2' => array(
		'properties' => array(
			'label' => 'Process Form',
		),
	),
);
?>
