<?php

$__config = array(
	'hideIfEmpty' => array(
		'properties' => array(
			'value' => 'You have already set your favorite colors.',
		),
		'bindings' => array(
			'hidden' => array(
				'instanceID' => 'person',
				'controllerKey' => 'selection',
				'modelKeyPath' => 'favoriteColors',
				'options' => array(
					'valueTransformer' => 'WFIsEmpty',
				),
			),
		),
	),
	'hideIfNotEmpty' => array(
		'properties' => array(
			'value' => 'You have no favorite colors on file with us.',
		),
		'bindings' => array(
			'hidden' => array(
				'instanceID' => 'person',
				'controllerKey' => 'selection',
				'modelKeyPath' => 'returnsEmptyArray',
				'options' => array(
					'valueTransformer' => 'WFIsNotEmpty',
				),
			),
		),
	),
	'valuePattern' => array(
		'bindings' => array(
			'value' => array(
				'instanceID' => 'person',
				'controllerKey' => 'selection',
				'modelKeyPath' => 'name',
				'options' => array(
					'ValuePattern' => '%1% has %2% favorite colors.',
				),
			),
			'value2' => array(
				'instanceID' => 'person',
				'controllerKey' => 'selection',
				'modelKeyPath' => 'favoriteColors.@count',
			),
		),
	),
	'multMultEnabledOff' => array(
		'bindings' => array(
			'value' => array(
				'instanceID' => 'person',
				'controllerKey' => 'selection',
				'modelKeyPath' => 'name',
			),
			'enabled' => array(
				'instanceID' => 'person',
				'controllerKey' => 'selection',
				'modelKeyPath' => 'returnsTrue',
			),
			'enabled2' => array(
				'instanceID' => 'person',
				'controllerKey' => 'selection',
				'modelKeyPath' => 'returnsFalse',
			),
		),
	),
	'multMultEnabledOn' => array(
		'bindings' => array(
			'value' => array(
				'instanceID' => 'person',
				'controllerKey' => 'selection',
				'modelKeyPath' => 'name',
			),
			'enabled' => array(
				'instanceID' => 'person',
				'controllerKey' => 'selection',
				'modelKeyPath' => 'returnsTrue',
			),
			'enabled2' => array(
				'instanceID' => 'person',
				'controllerKey' => 'selection',
				'modelKeyPath' => 'alsoReturnsTrue',
			),
		),
	),
	'multMultHiddenOff' => array(
		'properties' => array(
			'value' => 'This should be hidden.',
		),
		'bindings' => array(
			'hidden' => array(
				'instanceID' => 'person',
				'controllerKey' => 'selection',
				'modelKeyPath' => 'returnsFalse',
			),
			'hidden2' => array(
				'instanceID' => 'person',
				'controllerKey' => 'selection',
				'modelKeyPath' => 'returnsTrue',
			),
		),
	),
	'multMultHiddenOn' => array(
		'properties' => array(
			'value' => 'This should be visible.',
		),
		'bindings' => array(
			'hidden' => array(
				'instanceID' => 'person',
				'controllerKey' => 'selection',
				'modelKeyPath' => 'returnsFalse',
			),
			'hidden2' => array(
				'instanceID' => 'person',
				'controllerKey' => 'selection',
				'modelKeyPath' => 'alsoReturnsFalse',
			),
		),
	),
	'multOneOff' => array(
		'properties' => array(
			'value' => 'This should be hidden.',
		),
		'bindings' => array(
			'hidden' => array(
				'instanceID' => 'person',
				'controllerKey' => 'selection',
				'modelKeyPath' => 'returnsTrue',
			),
		),
	),
	'multOneOn' => array(
		'properties' => array(
			'value' => 'This should be visible.',
		),
		'bindings' => array(
			'hidden' => array(
				'instanceID' => 'person',
				'controllerKey' => 'selection',
				'modelKeyPath' => 'returnsFalse',
			),
		),
	),
	'simpleBinding' => array(
		'bindings' => array(
			'value' => array(
				'instanceID' => 'person',
				'controllerKey' => 'selection',
				'modelKeyPath' => 'name',
			),
		),
	),
);
?>
