

/********************************************************
* CONTROL STYLES
*********************************************************/

/* this is the root element - we need this style
   in case there are global DIV styles defined */
.accordion_basic
{
	padding:0px !important;
	padding-right:5px !important;
	border:1px solid #bbb;
	border-top:none;
	margin:0px;

}
body.ie6 .accordion_basic
{
	padding-right:0px !important;
}

/* this is the newly created container for the accordion */
.accordion_basic_container
{
	padding:0px;
	margin:0px;
}

.accordion_basic_row
{
	clear:both;
	height:25px;
	margin:0px;
	padding:0px;

}
body.ie7 .accordion_basic_row
{
	height:26px;
}

.accordion_basic_row_left
{
	padding:0px;
	margin:0px;
	
}
.accordion_basic_row_middle
{
	background-color:#ddd;
	border-top:1px solid #bbb;
	height:25px;
	float:left;
	line-height:25px;
	color:#666;
	margin:0px;
	padding:0px !important;
	padding-left:5px !important;
	cursor:pointer;
	
}
.accordion_basic_row_right
{
	padding:0px;
	margin:0px;

}
.accordion_basic_row_data
{
	clear:both;
	margin:0px;
	padding:0px !important;
	padding-right:5px !important;
}

.accordion_basic_row_left_active
{
	
}
.accordion_basic_row_middle_active
{
	border-bottom:1px solid #bbb;
	background-color:#bbb;
	color:#333;
}
.accordion_basic_row_right_active
{
}
.
