<?php

$__config = array(
	'pageSort' => array(
		'properties' => array(
			'paginator' => '#module#paginator',
			'value' => 'sort',
		),
	),
	'pageNav' => array(
		'properties' => array(
			'paginator' => '#module#paginator',
		),
	),
	'pageInfo' => array(
		'properties' => array(
			'paginator' => '#module#paginator',
		),
	),
	'personInfo' => array(
		'properties' => array(
			'simpleBindKeyPath' => 'name',
			'arrayController' => '#module#people',
			'widgetClass' => 'WFLabel',
		),
	),
	'paginatorState' => array(
		'properties' => array(
			'paginator' => '#module#paginator',
		),
	),
	'numPeople' => array(
		'properties' => array(
			'value' => '100',
		),
	),
);
?>
