<?php

$__config = array(
	'personInfo' => array(
		'properties' => array(
			'arrayController' => '#module#people',
			'widgetClass' => 'WFLabel',
			'simpleBindKeyPath' => 'name',
		),
	),
	'pageSort' => array(
		'properties' => array(
			'value' => 'sort',
			'paginator' => '#module#paginator',
		),
	),
	'pageInfo' => array(
		'properties' => array(
			'paginator' => '#module#paginator',
		),
	),
	'pageNav' => array(
		'properties' => array(
			'paginator' => '#module#paginator',
		),
	),
);
?>
