/*********************************************************
 * OVERRIDE ANY GLOBAL STYLES ON CONTROL'S BASE ELEMENTS
 *********************************************************/
.input_rounded_search_container img
{
	padding:0px;
	margin:0px;
	position:static;
}
.input_rounded_search_container input
{
	padding:0px;
	margin:0px;
	position:static;
}

/********************************************************
* CONTROL STYLES
*********************************************************/


.input_rounded_search_input
{
	background:transparent url(images/input.png) repeat-x;
	border:0px none;
	height:19px;
	line-height:19px;
	padding:2px 1px 1px !important;
	vertical-align:middle;
	outline:none;
}
.input_rounded_search_left
{
	background:transparent url(images/left.png) no-repeat;
	height:19px;
	width:20px;
	padding:2px 0px 1px !important;
	vertical-align:middle;
}
.input_rounded_search_right
{
	background:transparent url(images/right.png) no-repeat ;
	height:19px;
	width:10px;
	padding:2px 0px 1px !important;
	vertical-align:middle;
}

body.msie .input_rounded_search_input
{
	padding:0px !important;
}
body.msie .input_rounded_search_left
{
	padding:0px !important;
}
body.msie .input_rounded_search_right
{
	padding:0px !important;
}
