<?php

$__config = array(
	'creationDTS' => array(
		'bindings' => array(
			'value' => array(
				'instanceID' => 'person',
				'controllerKey' => 'selection',
				'modelKeyPath' => 'creationDTS',
			),
		),
	),
	'wealth' => array(
		'bindings' => array(
			'value' => array(
				'instanceID' => 'person',
				'controllerKey' => 'selection',
				'modelKeyPath' => 'wealth',
			),
		),
	),
	'formattedCreationDTS' => array(
		'properties' => array(
			'formatter' => '#module#unixDateFormatter',
		),
		'bindings' => array(
			'value' => array(
				'instanceID' => 'person',
				'controllerKey' => 'selection',
				'modelKeyPath' => 'creationDTS',
			),
		),
	),
	'formattedWealth' => array(
		'properties' => array(
			'formatter' => '#module#currencyFormatter',
		),
		'bindings' => array(
			'value' => array(
				'instanceID' => 'person',
				'controllerKey' => 'selection',
				'modelKeyPath' => 'wealth',
			),
		),
	),
);
?>
