<?php

$__config = array(
	'subject' => array(
		'properties' => array(
			'size' => '50',
		),
		'bindings' => array(
			'value' => array(
				'instanceID' => 'email',
				'controllerKey' => '',
				'modelKeyPath' => 'subject',
			),
		),
	),
	'message' => array(
		'properties' => array(
			'rows' => '10',
			'cols' => '50',
		),
		'bindings' => array(
			'value' => array(
				'instanceID' => 'email',
				'controllerKey' => '',
				'modelKeyPath' => 'message',
			),
		),
	),
	'submit' => array(
		'properties' => array(
			'label' => 'Send Email',
		),
	),
	'email' => array(
		'properties' => array(
			'size' => '50',
		),
		'bindings' => array(
			'value' => array(
				'instanceID' => 'email',
				'controllerKey' => '',
				'modelKeyPath' => 'toEmail',
			),
		),
	),
);
?>
