<?php

$__config = array(
	'city' => array(
		'properties' => array(
			'baseURL' => 'http://google.com/search?q=',
		),
		'bindings' => array(
			'contentLabels' => array(
				'instanceID' => 'cities',
				'controllerKey' => 'arrangedObjects',
				'modelKeyPath' => 'name',
				'options' => array(
					'NullPlaceholder' => 'Select a city to search for...',
					'InsertsNullPlaceholder' => 'true',
				),
			),
			'contentValues' => array(
				'instanceID' => 'cities',
				'controllerKey' => 'arrangedObjects',
				'modelKeyPath' => 'name',
				'options' => array(
					'InsertsNullPlaceholder' => 'true',
				),
			),
		),
	),
);
?>
