<?php

$__config = array(
	'radios' => array(
		'properties' => array(
			'arrayController' => '#module#cities',
			'parentFormID' => 'radioGroup',
			'oneShotMode' => true,
			'widgetClass' => 'WFRadio',
		),
	),
	'radioGroup' => array(
		'properties' => array(
			'value' => '4',
		),
		'bindings' => array(
			'value' => array(
				'instanceID' => 'person',
				'controllerKey' => 'selection',
				'modelKeyPath' => 'cityID',
			),
		),
	),
);
?>
