<?php

$__config = array(
	'city' => array(
		'bindings' => array(
			'value' => array(
				'instanceID' => 'person',
				'controllerKey' => 'selection',
				'modelKeyPath' => 'cityID',
			),
			'contentLabels' => array(
				'instanceID' => 'cities',
				'controllerKey' => 'arrangedObjects',
				'modelKeyPath' => 'name',
			),
			'contentValues' => array(
				'instanceID' => 'cities',
				'controllerKey' => 'arrangedObjects',
				'modelKeyPath' => 'id',
			),
		),
	),
);
?>
