<?php

$__config = array(
	'creationDTSFormatter' => array(
		'properties' => array(
			'formatString' => 'Y M D',
		),
	),
	'selectedPeople' => array(
		'properties' => array(
			'class' => 'person',
		),
	),
	'cities' => array(
		'properties' => array(
			'classIdentifiers' => 'id',
			'class' => 'City',
		),
	),
	'person' => array(
		'properties' => array(
			'class' => 'Person',
		),
	),
);
?>
