<?php

$__config = array(
	'form' => array(
		'properties' => array(
			'method' => 'post',
		),
	),
	'name' => array(
		'bindings' => array(
			'value' => array(
				'instanceID' => 'person',
				'controllerKey' => 'selection',
				'modelKeyPath' => 'name',
			),
		),
	),
	'creationDTS' => array(
		'properties' => array(
			'formatter' => '#module#creationDTSFormatter',
		),
		'bindings' => array(
			'value' => array(
				'instanceID' => 'person',
				'controllerKey' => 'selection',
				'modelKeyPath' => 'creationDTS',
			),
		),
	),
	'selectOne' => array(
		'bindings' => array(
			'contentLabels' => array(
				'instanceID' => 'cities',
				'controllerKey' => 'arrangedObjects',
				'modelKeyPath' => 'name',
			),
			'contentValues' => array(
				'instanceID' => 'cities',
				'controllerKey' => 'arrangedObjects',
				'modelKeyPath' => 'id',
			),
			'value' => array(
				'instanceID' => 'person',
				'controllerKey' => 'selection',
				'modelKeyPath' => 'cityID',
			),
		),
	),
	'radioButtons' => array(
		'bindings' => array(
			'value' => array(
				'instanceID' => 'person',
				'controllerKey' => 'selection',
				'modelKeyPath' => 'gender',
			),
		),
	),
	'selectMultiple' => array(
		'properties' => array(
			'multiple' => true,
			'visibleItems' => 6,
		),
		'bindings' => array(
			'values' => array(
				'instanceID' => 'person',
				'controllerKey' => 'selection',
				'modelKeyPath' => 'favoriteColors',
			),
			'contentValues' => array(
				'instanceID' => 'person',
				'controllerKey' => 'selection',
				'modelKeyPath' => 'colorValues',
			),
		),
	),
	'textarea' => array(
		'bindings' => array(
			'value' => array(
				'instanceID' => 'person',
				'controllerKey' => 'selection',
				'modelKeyPath' => 'bio',
			),
		),
	),
	'action1' => array(
		'properties' => array(
			'label' => 'Submit Form and Re-Display',
		),
	),
	'radioTwo' => array(
		'properties' => array(
			'selectedValue' => 'male',
			'label' => 'Male',
		),
	),
	'radioOne' => array(
		'properties' => array(
			'label' => 'Female',
			'selectedValue' => 'female',
		),
	),
);
?>
